    .container-div{
        margin: 7rem 0 7rem 0;
        text-align: center;
        width: 70%;
        margin-left: 15rem;
    }
    
    .password-heading{
        font-size: 2rem;
        margin:  2rem 0 2rem 0;
    }
    .request{
        width: 30%;
    }
