    .container-div{
        margin: 5rem 0 7rem 0;
        text-align: center;
        width: 70%;
        margin-left: 15rem;
    }
    .error-heading{
        color:red;
        font-weight: 500;
        background-color: beige;
        width: 200px;
        margin-left: 17rem;
        border-radius: 6px;
    
    }
    .password-heading{
        font-size: 2rem;
        margin:  2rem 0 2rem 0;
    }
    .request{
        width: 30%;
    }
